@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Jones Lab<br />
    Moran Eye Center <br />
    65 Mario Cappechii Drive
    Salt lake City, UT 84132<br />
    <abbr title="Phone">P:</abbr>
    801.585.6502
</address>

<address>
    <strong>Support:</strong> <a href="mailto:james.r.anderson@utah.edu">james.r.anderson@utah.edu</a><br />
</address>
