<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    
  </configSections> 
  <appSettings>
    <add key="EndpointURLTemplate" value="https://connectomes.utah.edu/Services/{0}Binary/Annotate.svc" />
    <add key="EndpointURL" value="https://connectomes.utah.edu/Services/TestBinary/Annotate.svc" />
    <add key="EndpointUsername" value="Anonymous" />
    <add key="EndpointPassword" value="connectome" />
    <add key="DatabaseConnectionString" value="VikingDatabaseConnection"/>
    <add key="XScaleValue" value="2.18" />
    <add key="YScaleValue" value="2.18" />
    <add key="ZScaleValue" value="90" />
    <add key="XScaleUnits" value="nm" />
    <add key="YScaleUnits" value="nm" />
    <add key="ZScaleUnits" value="nm" />
  </appSettings>
  <connectionStrings>
    <add connectionString="Server=OpR-Marc-DB1,1433;Database=UserAccounts;Integrated Security=true" name="VikingApplicationServices" />
    <add name="VikingDatabaseConnection" connectionString="Data Source=OpR-Marc-DB1,1433\MSSQLSERVER;Initial Catalog=Rabbit;Integrated Security=True"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.web>
    <customErrors mode="Off"/>
    <roleManager defaultProvider="VikingRoleProvider" enabled="true">
      <providers>
        <add name="VikingRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="VikingApplicationServices" applicationName="/" />
      </providers>
    </roleManager>
    <membership defaultProvider="VikingMembershipProvider">
      <providers>
        <add name="VikingMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="VikingApplicationServices" enablePasswordReset="true" enablePasswordRetrieval="false" passwordFormat="Clear" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" applicationName="/" />
      </providers>
    </membership>
  </system.web>
  
</configuration>