<?xml version="1.0" encoding="utf-8"?>
<configuration>
  


<system.diagnostics>
    <sources>
        <source name="System.ServiceModel" switchValue="Information,ActivityTracing"
            propagateActivity="true">
            <listeners>
                <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                    <filter type="" />
                </add>
                <add name="NewListener">
                    <filter type="" />
                </add>
            </listeners>
        </source>
        <source name="System.ServiceModel.MessageLogging" switchValue="Information,ActivityTracing">
            <listeners>
                <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                    <filter type="" />
                </add>
                <add name="NewListener">
                    <filter type="" />
                </add>
            </listeners>
        </source>
    </sources>
    <sharedListeners>
        <add initializeData="E:\Logs\WCFAnnotation2.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            name="NewListener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
            <filter type="" />
        </add>
    </sharedListeners>
</system.diagnostics>
<system.serviceModel>
  <diagnostics>
    <messageLogging logEntireMessage="true" logMalformedMessages="true"
      logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
  </diagnostics>
  <bindings>
    <customBinding>
      <binding name="BinaryHTTP" sendTimeout="00:03:00">
        <binaryMessageEncoding />
        <httpTransport maxReceivedMessageSize="4194304" maxBufferSize="4194304" />
      </binding>
    </customBinding>
  </bindings>
  <services>
    <service behaviorConfiguration="AnnotationBehaviour" name="Annotation.AnnotateService">
      <endpoint address="" binding="customBinding" bindingConfiguration="BinaryHTTP"
        name="Annotation.Service.Interfaces.IAnnotateStructureTypes-Binary"
        contract="Annotation.Service.Interfaces.IAnnotateStructureTypes" />
      <endpoint address="" binding="customBinding" bindingConfiguration="BinaryHTTP"
        name="Annotation.Service.Interfaces.IAnnotateStructures-Binary"
        contract="Annotation.Service.Interfaces.IAnnotateStructures" />
      <endpoint address="" binding="customBinding" bindingConfiguration="BinaryHTTP"
        name="Annotation.Service.Interfaces.IAnnotateLocations-Binary"
        contract="Annotation.Service.Interfaces.IAnnotateLocations" />
      <host>
        <baseAddresses>
          <add baseAddress="http://155.100.105.9" />
        </baseAddresses>
      </host>
    </service>
  </services>
  <behaviors>
    <serviceBehaviors>
      <behavior name="AnnotationBehaviour">
        <serviceMetadata httpGetEnabled="true" />
        <serviceDebug includeExceptionDetailInFaults="true" />
        <dataContractSerializer maxItemsInObjectGraph="2147483647" />
      </behavior>
    </serviceBehaviors>
  </behaviors>
</system.serviceModel>

<system.webServer>
  <directoryBrowse enabled="false" />
</system.webServer>

  <system.web>
  <customErrors mode="Off"/>
</system.web>

</configuration>