<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
<system.diagnostics>
	<sources>
        <source name="System.ServiceModel" switchValue="Information,ActivityTracing"
            propagateActivity="true">
            <listeners>
                <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                    <filter type="" />
                </add>
                <add name="NewListener">
                    <filter type="" />
                </add>
            </listeners>
			
        </source>
        <source name="System.ServiceModel.MessageLogging" switchValue="Information,ActivityTracing">
            <listeners>
                <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                    <filter type="" />
                </add>
                <add name="NewListener">
                    <filter type="" />
                </add>
            </listeners>
        </source>
    </sources>
    <sharedListeners>
        <add initializeData="E:\Logs\WCFAnnotationBinary6.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            name="NewListener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
            <filter type="" />
        </add>
    </sharedListeners>
</system.diagnostics>
!-->
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="True">
      <serviceActivations>
        <add relativeAddress="service.svc" service="Annotation.AnnotateService" />
        <add relativeAddress="Annotate.svc" service="Annotation.AnnotateService" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <bindings>
      <customBinding>
        <binding name="BinaryHTTPS" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:05:00">
          <security authenticationMode="UserNameOverTransport">
            <secureConversationBootstrap authenticationMode="UserNameOverTransport" />
          </security>
          <binaryMessageEncoding maxSessionSize="4096" maxReadPoolSize="64" maxWritePoolSize="16">
          </binaryMessageEncoding>
          <httpsTransport maxReceivedMessageSize="67108864" maxBufferSize="67108864" />
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="AnnotationBehaviour" name="Annotation.AnnotateService">
        <endpoint address="" binding="customBinding" bindingConfiguration="BinaryHTTPS" name="Annotation.Service.Interfaces.IAnnotateStructureTypes-Binary" contract="Annotation.Service.Interfaces.IAnnotateStructureTypes" />
        <endpoint address="" binding="customBinding" bindingConfiguration="BinaryHTTPS" name="Annotation.Service.Interfaces.IAnnotateStructures-Binary" contract="Annotation.Service.Interfaces.IAnnotateStructures" />
        <endpoint address="" binding="customBinding" bindingConfiguration="BinaryHTTPS" name="Annotation.Service.Interfaces.IAnnotateLocations-Binary" contract="Annotation.Service.Interfaces.IAnnotateLocations" />
        <endpoint address="" binding="customBinding" bindingConfiguration="BinaryHTTPS" name="Annotation.Service.Interfaces.IVolumeMeta-Binary" contract="Annotation.Service.Interfaces.IVolumeMeta" />
        <endpoint address="" binding="customBinding" bindingConfiguration="BinaryHTTPS" name="Annotation.Service.Interfaces.ICircuit-Binary" contract="Annotation.Service.Interfaces.ICircuit" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://connectomes.utah.edu/" />
            <add baseAddress="https://155.100.105.9/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="AnnotationBehaviour">
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="MembershipProvider" membershipProviderName="VikingMembershipProvider" />
            <!--<serviceCertificate findValue="79bac873008abe5a7477e3d763cb3a59" storeLocation="LocalMachine" x509FindType="FindBySerialNumber" />-->
            <serviceCertificate findValue="00db6dfd26abf368b68b1751d1fd954994" storeLocation="LocalMachine" x509FindType="FindBySerialNumber" />
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="UseAspNetRoles" roleProviderName="VikingRoleProvider"></serviceAuthorization>
          <serviceSecurityAudit auditLogLocation="Application" serviceAuthorizationAuditLevel="SuccessOrFailure" messageAuthenticationAuditLevel="SuccessOrFailure" />
        </behavior>
        <behavior name="AnnotationLocalHostBehaviour">
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="MembershipProvider" membershipProviderName="VikingMembershipProvider" />
            <!--<serviceCertificate findValue="79bac873008abe5a7477e3d763cb3a59" storeLocation="LocalMachine" x509FindType="FindBySerialNumber" />-->
            <serviceCertificate findValue="00db6dfd26abf368b68b1751d1fd954994" storeLocation="LocalMachine" x509FindType="FindBySerialNumber" />
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="UseAspNetRoles" roleProviderName="VikingRoleProvider"></serviceAuthorization>
          <serviceSecurityAudit auditLogLocation="Application" serviceAuthorizationAuditLevel="SuccessOrFailure" messageAuthenticationAuditLevel="SuccessOrFailure" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms cookieless="UseCookies" slidingExpiration="true" requireSSL="true" />

    </authentication>
    <membership defaultProvider="VikingMembershipProvider">
    </membership>
    <profile defaultProvider="VikingProfileProvider">
    </profile>
    <roleManager enabled="true" defaultProvider="VikingRoleProvider">
    </roleManager>

  </system.web>
  <connectionStrings>
    <add connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=OpR-Marc-DB1;initial catalog=Test;integrated security=True;multipleactiveresultsets=True;Type System Version=SQL Server 2012;application name=EntityFramework&quot;" name="ConnectomeEntities" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <remove key="EndpointURL" />
    <add key="EndpointURL" value="https://webdev.connectomes.utah.edu/RC1Test/Annotation/Annotate.svc" />
  </appSettings>
</configuration>