/PublishJotunn/
/Publish/
**/obj/
**/bin/
**/packages/
*.vsp
*.suo
*.dgml
*.psess
*.csr
*.key
*.pdb
*.user
**.cachefile
/**/*.user
/**/*.suo
/**/*.dgml
/**/*.psess
/**/*.xnb
TestResults
/Packages/
/Papers/
**/Modules/*.dll
**/Modules/*.dll.config
**/Modules/**/*.dll
**/Modules/**/*.dll.config
**/.vs/
**/MigrationBackup
/src/
