<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json"/>
		<add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft Visual Studio\Shared\NuGetPackages"/>
		<add key="LocalPackages" value="Packages"/>
	</packageSources>  
</configuration>