<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="VikingGenericConnection" connectionString="Data Source=OpR-Marc-DB1\MSSQLSERVER;Initial Catalog={0};Integrated Security=True"/>
  </connectionStrings>
  <system.serviceModel>

    <behaviors>

      <endpointBehaviors>

        <behavior name="NewBehavior">

          <dataContractSerializer maxItemsInObjectGraph="655360000"/>

        </behavior>

      </endpointBehaviors>
    </behaviors>

    <bindings />
    <client />
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
