@model IdentityServer.Models.UserViewModels.ListUserRolesViewModel

@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Role Assignments</h2>
<p>
    Users can be associated with any number of the roles listed below.  Role membership is used by the web service to determine which functions a user can perform.
    Roles currently apply to all volumes.  However for finer grain control an additional test for group membership may be added in the future.
</p>

<!--
<select asp-for="Group" asp-items="Model.RoleSelectList" class="form-control">
    <option value="">Select Group</option>
</select>
    -->

<table class="table">
    <thead>
        <tr>
            <th>
                Username
            </th>
            @{ 
                foreach (var role in Model.AvailableRoles)
                {
                    <th>
                        @role.Name
                    </th>
                }
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            if (!User.IsInRole(Config.AdminRoleName))
            {
                foreach (var item in Model.UsersRoles)
                {
                    <tr>
                        @{ @Html.Partial("View", new IdentityServer.Models.UserViewModels.EditUserRolesViewModel() { AvailableRoles = Model.AvailableRoles, Username = item.Username, Roles = item.Roles }); }
                    </tr>
                }
            }
            else
            {
                foreach (var item in Model.UsersRoles)
                {
                    <tr>
                        @{ @Html.Partial("ReadOnlyUserRolesView", new IdentityServer.Models.UserViewModels.EditUserRolesViewModel() { AvailableRoles = Model.AvailableRoles, Username = item.Username, Roles = item.Roles }); }
                    </tr> 
                }
            }
        }
    </tbody>
</table>