@model IEnumerable<IdentityServer.Models.UserViewModels.UserRolesViewModel>

@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Role Assignments</h2>
<p>Users can be associated with any number of the roles listed below.  Role membership is used by the web service to determine which functions a user can perform.
   Roles currently apply to all volumes.  However for finer grain control an additional test for group membership may be added in the future.</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            @{
                IdentityServer.Models.UserViewModels.UserRolesViewModel firstModel = Model.FirstOrDefault();
                if (firstModel != null)
                {
                    foreach (var role in firstModel.AvailableRoles)
                    {
                        <th>
                            @role.Name
                        </th>
                    }
                }
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (User.IsInRole("Access Manager"))
                {
                    @Html.Partial("View", item)
                }
                else
                {
                    @Html.Partial("ReadOnlyUserRolesView", item)
                }
            </tr>
        }
    </tbody>
</table>