<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Viking File Exporter</title>
    <p>@ViewBag.Title</>

    <head>
        

        <script src="source.js"></script>
    </head>

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
