@model IList<Viking.Identity.Server.WebManagement.Models.UserViewModels.UserSelectedViewModel>

<ul class="no-bullets">
    @for (var i = 0; i < Model.Count(); i++)
    {
        <li>
            <partial name="~/Views/Shared/_UserCheckbox.cshtml" for="@Model[i]" />
        </li>
        //                    @Html.Partial("~/Views/Shared/UserSelectedList.cshtml", Model.UserList)
    }
</ul>