<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    
  </configSections> 
  <appSettings>
    <add key="DefaultLocationColorMapsPath" value="DefaultLocationColorMap.txt"/>
    <add key="DefaultStructureColorsPath" value="DefaultStructureColors.txt"/>
    <add key="DefaultStructureTypeColorsPath" value="DefaultStructureTypeColors.txt"/>
    <add key="EndpointURL" value="https://webdev.connectomes.utah.edu/RC1Test/Annotation/Service.svc" />
    <add key="VolumeURL" value="" />
    <add key="EndpointUsername" value="Anonymous" />
    <add key="EndpointPassword" value="connectome" />
    <add key="DatabaseConnectionString" value="VikingDatabaseConnection"/>
    <add key="XScaleValue" value="2.18" />
    <add key="YScaleValue" value="2.18" />
    <add key="ZScaleValue" value="90" />
    <add key="XScaleUnits" value="nm" />
    <add key="YScaleUnits" value="nm" />
    <add key="ZScaleUnits" value="nm" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.web>
    <customErrors mode="Off"/>
  </system.web> 
</configuration>