 
/****** Object:  UserDefinedFunction [dbo].[ufnWeightedStructureCentroidXY]    Script Date: 10/28/2024 12:24:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO 
	 CREATE FUNCTION [dbo].[ufnWeightedStructureCentroidXY]
	(
		@StructureID bigint
	)
	RETURNS geometry -- The center of the structure annotations in XY, weighted by either area of each location or the length of the location.
					 --This function cannot return the Z position because it is a scalar valued function
	AS
	BEGIN 
    
    DECLARE @StructureLocations TABLE(
        StructureID bigint NOT NULL,
        Area float NOT NULL,
        X float NOT NULL,
        Y float NOT NULL,
        Z float NOT NULL
    );

    DECLARE @StructureLocationWeights TABLE(
        StructureID bigint NOT NULL,
        [Weight] float NOT NULL,
        X float NOT NULL,
        Y float NOT NULL,
        Z float NOT NULL
    );

    INSERT INTO @StructureLocations 
    SELECT L.ParentID as StructureID, 
        CASE L.VolumeShape.STDimension()
            WHEN 0 THEN 0
            WHEN 1 THEN L.MosaicShape.STLength()
            WHEN 2 THEN L.MosaicShape.STArea()
            ELSE 0
        END as Area,
        L.VolumeX as X,
        L.VolumeY as Y,
        L.Z as Z 
    FROM Location L 
	WHERE L.ParentID = @StructureID
	;

	DECLARE @TotalArea FLOAT
	SELECT @TotalArea = SUM(L.Area) 
					 FROM @StructureLocations L
					 GROUP BY L.StructureID;

    INSERT INTO @StructureLocationWeights
    SELECT SL.StructureID, 
        CASE 
            WHEN @TotalArea > 0 THEN SL.Area / @TotalArea
            ELSE 0
        END as [Weight],
        SL.X, SL.Y, SL.Z
    FROM @StructureLocations SL 

	DECLARE @Result Geometry 
    SELECT @Result = geometry::STPointFromText(
        'POINT(' + CAST(SUM(SLW.X * SLW.[Weight]) AS VARCHAR(20)) + ' ' +
        CAST(SUM(SLW.Y * SLW.[Weight]) AS VARCHAR(20)) + ')', 0
    )
    FROM @StructureLocationWeights SLW
    GROUP BY SLW.StructureID;
	 
	-- Return the result of the function
	RETURN @Result

	END
	