CREATE FUNCTION [dbo].[WeightedStructureCenters3D](
	@StructureIDs mem_integer_list READONLY
) --The Structure IDs we are calculating, NULL causes us to get all rows
RETURNS @Result TABLE (
    ID bigint,
    XY geometry,
    Z float
)
AS
BEGIN
    DECLARE @TotalArea TABLE(
        StructureID bigint NOT NULL PRIMARY KEY,
        TotalArea float NOT NULL
    )
    
    DECLARE @StructureLocations TABLE(
        StructureID bigint NOT NULL,
        Area float NOT NULL,
        X float NOT NULL,
        Y float NOT NULL,
        Z float NOT NULL
    );

    DECLARE @StructureLocationWeights TABLE(
        StructureID bigint NOT NULL,
        [Weight] float NOT NULL,
        X float NOT NULL,
        Y float NOT NULL,
        Z float NOT NULL
    );
	 
	INSERT INTO @StructureLocations 
	SELECT L.ParentID as StructureID, 
		CASE L.VolumeShape.STDimension()
			WHEN 0 THEN 0
			WHEN 1 THEN L.MosaicShape.STLength()
			WHEN 2 THEN L.MosaicShape.STArea()
			ELSE 0
		END as Area,
		L.VolumeX as X,
		L.VolumeY as Y,
		L.Z as Z 
	FROM Location L
	inner join @StructureIDs SIDs ON SIDs.ID = L.ParentID; 

    INSERT INTO @TotalArea 
    SELECT L.StructureID as StructureID, SUM(L.Area) as TotalArea 
    FROM @StructureLocations L
    GROUP BY L.StructureID;

    INSERT INTO @StructureLocationWeights
    SELECT SL.StructureID, 
        CASE 
            WHEN A.TotalArea > 0 THEN SL.Area / A.TotalArea
            ELSE 0
        END as [Weight],
        SL.X, SL.Y, SL.Z
    FROM @StructureLocations SL
    INNER JOIN @TotalArea A ON A.StructureID = SL.StructureID;

    INSERT INTO @Result
    SELECT SLW.StructureID as ID, 
        geometry::STPointFromText(
		  'POINT(' + CAST(SUM(SLW.X * SLW.[Weight]) AS VARCHAR(20)) + ' ' +
		   CAST(SUM(SLW.Y * SLW.[Weight]) AS VARCHAR(20)) + ')', 0
		) as XY,
        SUM(SLW.Z * SLW.[Weight]) as Z 
    FROM @StructureLocationWeights SLW
    GROUP BY SLW.StructureID;

    RETURN;
END;