<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    
  </configSections>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="protobuf" type="ProtoBuf.ServiceModel.ProtoBehaviorExtension, protobuf-net,PublicKeyToken=257b51d87d2e4d67"/>
        <add name="tokenInjection" type="Viking.Tokens.TokenInjectionBehaviorExtension, WCFTokenInjector" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <!-- 
      <basicHttpBinding>
        <binding name="BasicHttpBinding_AuthenticationService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
          </security>
        </binding>
      </basicHttpBinding>
      -->
      <customBinding>
        <binding name="Annotation.Service.Interfaces.Generic-Binary" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" securityHeaderLayout="Strict" includeTimestamp="true" keyEntropyMode="CombinedEntropy" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings cacheCookies="true" detectReplays="false" replayCacheSize="900000" maxClockSkew="00:05:00" maxCookieCachingTime="Infinite" replayWindow="00:05:00" sessionKeyRenewalInterval="10:00:00" sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true" timestampValidityDuration="00:05:00" cookieRenewalThresholdPercentage="60"/>
            <localServiceSettings detectReplays="false" issuedCookieLifetime="10:00:00" maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00" negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00" sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true" maxPendingSessions="128" maxCachedCookies="1000" timestampValidityDuration="00:05:00"/>
            <secureConversationBootstrap/>
          </security>
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" maxSessionSize="2048">
            <readerQuotas maxDepth="32" maxStringContentLength="32768" maxArrayLength="5000000" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          </binaryMessageEncoding>
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="67108864" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="67108864" proxyAuthenticationScheme="Anonymous" realm="connectomes.utah.edu" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false">
            <extendedProtectionPolicy policyEnforcement="Never"/>
          </httpsTransport> 
        </binding>
      </customBinding>
    </bindings>
    <behaviors> 
      <endpointBehaviors>
        <behavior name="protoEndpointBehavior">
          <!--<tokenInjection />-->
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <protobuf/>
        </behavior>
        <behavior name="StandardBehavior">
          <!--
          <tokenInjection />-->
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="https://connectomes.utah.edu/Services/Binary/Annotate.svc" binding="customBinding" bindingConfiguration="Annotation.Service.Interfaces.Generic-Binary" contract="Service.IAnnotateStructureTypes" name="Annotation.Service.Interfaces.IAnnotateStructureTypes-Binary" behaviorConfiguration="protoEndpointBehavior"/>
      <endpoint address="https://connectomes.utah.edu/Services/Binary/Annotate.svc" binding="customBinding" bindingConfiguration="Annotation.Service.Interfaces.Generic-Binary" contract="Service.IAnnotateStructures" name="Annotation.Service.Interfaces.IAnnotateStructures-Binary" behaviorConfiguration="protoEndpointBehavior"/>
      <endpoint address="https://connectomes.utah.edu/Services/Binary/Annotate.svc" binding="customBinding" bindingConfiguration="Annotation.Service.Interfaces.Generic-Binary" contract="Service.IAnnotateLocations" name="Annotation.Service.Interfaces.IAnnotateLocations-Binary" behaviorConfiguration="protoEndpointBehavior"/>
      <endpoint address="https://connectomes.utah.edu/Services/Binary/Annotate.svc" binding="customBinding" bindingConfiguration="Annotation.Service.Interfaces.Generic-Binary" contract="Service.IAnnotatePermittedStructureLinks" name="Annotation.Service.Interfaces.IAnnotatePermittedStructureLinks-Binary" behaviorConfiguration="protoEndpointBehavior"/>
      <endpoint address="https://connectomes.utah.edu/Services/Binary/Annotate.svc" binding="customBinding" bindingConfiguration="Annotation.Service.Interfaces.Generic-Binary" contract="Service.IVolumeMeta" name="Annotation.Service.Interfaces.IVolumeMeta-Binary" behaviorConfiguration="protoEndpointBehavior"/>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
