<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MathNet.Numerics" version="3.13.1" targetFramework="net46" />
  <package id="MathNet.Numerics.MKL.Win-x86" version="2.2.0" targetFramework="net46" />
  <package id="Microsoft.SqlServer.Types" version="11.0.2" targetFramework="net46" />
</packages>