@model IdentityServer.Models.ResourceTypePermission

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GroupPermission</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResourceTypeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PermissionId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PermissionId" />
        <input type="hidden" asp-for="ResourceTypeId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
