<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
      <add key="EndpointURL" value="https://connectomes.utah.edu/Services/TestBinary/Annotate.svc" />
      <add key="DefaultLocationColorMapsPath" value="Resources/ColorMapping/ImageColorMaps.txt"/>
      <add key="DefaultStructureColorsPath" value="Resources/ColorMapping/StructureColors.txt"/>
      <add key="DefaultStructureTypeColorsPath" value="Resources/ColorMapping/StructureTypeColors.txt"/>
      <add key="EndpointUsername" value="Anonymous" />
      <add key="EndpointPassword" value="connectome" />
      <add key="XScaleValue" value="2.18" />
      <add key="YScaleValue" value="2.18" />
      <add key="ZScaleValue" value="90" />
      <add key="XScaleUnits" value="nm" />
      <add key="YScaleUnits" value="nm" />
      <add key="ZScaleUnits" value="nm" />
    </appSettings>

    <connectionStrings>

    </connectionStrings>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="Annotation.Service.Interfaces.IAnnotateStructureTypes-Binary">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport"
            requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <binaryMessageEncoding>
            <readerQuotas maxArrayLength="33554432" />
          </binaryMessageEncoding>
          <httpsTransport maxReceivedMessageSize="83886080" maxBufferSize="83886080"
            realm="connectomes.utah.edu" />
        </binding>
        <binding name="Annotation.Service.Interfaces.IAnnotateStructures-Binary">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport"
            requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <binaryMessageEncoding>
            <readerQuotas maxArrayLength="33554432" />
          </binaryMessageEncoding>
          <httpsTransport maxReceivedMessageSize="83886080" maxBufferSize="83886080"
            realm="connectomes.utah.edu" />
        </binding>
        <binding name="Annotation.Service.Interfaces.IAnnotateLocations-Binary">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport"
            requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <binaryMessageEncoding>
            <readerQuotas maxArrayLength="33554432" />
          </binaryMessageEncoding>
          <httpsTransport maxReceivedMessageSize="83886080" maxBufferSize="83886080"
            realm="connectomes.utah.edu" />
        </binding>
        <binding name="Annotation.Service.Interfaces.ICircuit-Binary">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport"
            requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <binaryMessageEncoding>
            <readerQuotas maxArrayLength="33554432" />
          </binaryMessageEncoding>
          <httpsTransport maxReceivedMessageSize="83886080" maxBufferSize="83886080"
            realm="connectomes.utah.edu" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://connectomes.utah.edu/Services/RabbitBinary/Annotate.svc"
        binding="customBinding" bindingConfiguration="Annotation.Service.Interfaces.IAnnotateStructureTypes-Binary"
        contract="AnnotationService.IAnnotateStructureTypes" name="Annotation.Service.Interfaces.IAnnotateStructureTypes-Binary" />
      <endpoint address="https://connectomes.utah.edu/Services/RabbitBinary/Annotate.svc"
        binding="customBinding" bindingConfiguration="Annotation.Service.Interfaces.IAnnotateStructures-Binary"
        contract="AnnotationService.IAnnotateStructures" name="Annotation.Service.Interfaces.IAnnotateStructures-Binary" />
      <endpoint address="https://connectomes.utah.edu/Services/RabbitBinary/Annotate.svc"
        binding="customBinding" bindingConfiguration="Annotation.Service.Interfaces.IAnnotateLocations-Binary"
        contract="AnnotationService.IAnnotateLocations" name="Annotation.Service.Interfaces.IAnnotateLocations-Binary" />
      <endpoint address="https://connectomes.utah.edu/Services/RabbitBinary/Annotate.svc"
        binding="customBinding" bindingConfiguration="Annotation.Service.Interfaces.ICircuit-Binary"
        contract="AnnotationService.ICircuit" name="Annotation.Service.Interfaces.ICircuit-Binary" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="StandardBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
