<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
         <PublishProtocol>MSIX</PublishProtocol>
     <PublishUrl>C:\src\git\VikingLegacy\Publish\MSIX</PublishUrl>
     <Install>true</Install>
     <PackageId>VikingApp</PackageId>
     <PackageVersion>1.2.0.0</PackageVersion>
     <PackageName>Viking</PackageName>
     <PackageDisplayName>Viking</PackageDisplayName>
     <PackageDescription>Viking Application for Connectome Analysis</PackageDescription>
     <PackagePublisher>Marc Lab</PackagePublisher>
     <PackagePublisherDisplayName>Marc Lab</PackagePublisherDisplayName>
     <PackageCertificateKeyFile>Viking_1_TemporaryKey.pfx</PackageCertificateKeyFile>
     <PackageCertificatePassword></PackageCertificatePassword>
     <PackageCertificateThumbprint></PackageCertificateThumbprint>
     <PackageCapabilities>internetClient</PackageCapabilities>
     <PackageCapabilities>runFullTrust</PackageCapabilities>
     <PackageCapabilities>documentsLibrary</PackageCapabilities>
     <PackageCapabilities>picturesLibrary</PackageCapabilities> 
     <PackageCapabilities>removableStorage</PackageCapabilities>
     <PackageCapabilities>localSystemServices</PackageCapabilities>
     <PackageCapabilities>packageManagement</PackageCapabilities>
     <PackageCapabilities>packageQuery</PackageCapabilities>
     <PackageCapabilities>packageWriteRedirectionCompatibilityShim</PackageCapabilities>
     <PackageCapabilities>unvirtualizedResources</PackageCapabilities>
     <PackageCapabilities>userDataTasks</PackageCapabilities>
     <PackageCapabilities>userNotificationListener</PackageCapabilities>
     <PackageCapabilities>userSystemId</PackageCapabilities>
     <PackageCapabilities>vpnClient</PackageCapabilities> 
     <PackageCapabilities>wiFiControl</PackageCapabilities> 
     <PackageCapabilities>appointments</PackageCapabilities> 
     <PackageCapabilities>userAccountInformation</PackageCapabilities>
     <PackageCapabilities>voipCall</PackageCapabilities>    
     <PackageCapabilities>confirmAppClose</PackageCapabilities>
     <PackageCapabilities>credentialDialog</PackageCapabilities>
     <PackageCapabilities>crypto</PackageCapabilities>
     <PackageCapabilities>devicePortalProvider</PackageCapabilities>
     <PackageCapabilities>dualSimTiles</PackageCapabilities>
     <PackageCapabilities>enterpriseAuthentication</PackageCapabilities>
     <PackageCapabilities>firstSignInSettings</PackageCapabilities>
     <PackageCapabilities>gameBarServices</PackageCapabilities>
     <PackageCapabilities>graphicsCaptureProgrammatic</PackageCapabilities>
     <PackageCapabilities>graphicsCaptureWithoutBorder</PackageCapabilities>
     <PackageCapabilities>inputForegroundObservation</PackageCapabilities>
     <PackageCapabilities>inputInjectionBrokered</PackageCapabilities>
     <PackageCapabilities>inputObservation</PackageCapabilities>
     <PackageCapabilities>inputSuppression</PackageCapabilities>
     <PackageCapabilities>internetClientServer</PackageCapabilities>
     <PackageCapabilities>location</PackageCapabilities> 
     <PackageCapabilities>networkingVpnProvider</PackageCapabilities>
     <PackageCapabilities>objects3D</PackageCapabilities>
     <PackageCapabilities>previewPenWorkspace</PackageCapabilities>
     <PackageCapabilities>previewStore</PackageCapabilities>
     <PackageCapabilities>proximity</PackageCapabilities>   
     <PackageCapabilities>screenDuplication</PackageCapabilities>
     <PackageCapabilities>secondaryAuthenticationFactor</PackageCapabilities> 
     <PackageCapabilities>spatialPerception</PackageCapabilities>
     <PackageCapabilities>startScreenManagement</PackageCapabilities>
     <PackageCapabilities>targetedContent</PackageCapabilities>
     <PackageCapabilities>uiAutomation</PackageCapabilities>
    <ApplicationVersion>1.2.0.0</ApplicationVersion>
    <PublisherName>Marc Lab</PublisherName>
    <ProductName>Viking</ProductName>
         <TargetFramework>net48</TargetFramework>
     <EnableCompressionInSingleFile>false</EnableCompressionInSingleFile>
     <DebugType>none</DebugType>
     <DebugSymbols>false</DebugSymbols>
     <GenerateDocumentationFile>false</GenerateDocumentationFile>
     <DocumentationFile></DocumentationFile>
     <NoWarn>$(NoWarn);1591</NoWarn>
     <TreatWarningsAsErrors>false</TreatWarningsAsErrors>
     <WarningsAsErrors></WarningsAsErrors>
     <WarningsNotAsErrors></WarningsNotAsErrors>
     <Optimize>true</Optimize>
     <DefineConstants>TRACE</DefineConstants>
     <ErrorReport>none</ErrorReport>
     <WarningLevel>4</WarningLevel>
     <ConsolePause>false</ConsolePause>
     <PlatformTarget>AnyCPU</PlatformTarget>
     <AllowUnsafeBlocks>false</AllowUnsafeBlocks>
     <CheckForOverflowUnderflow>false</CheckForOverflowUnderflow>
     <FileAlignment>512</FileAlignment>
     <Deterministic>false</Deterministic>
     <LangVersion>9.0</LangVersion>
     <Nullable>disable</Nullable>
     <ImplicitUsings>disable</ImplicitUsings>
     <UseWindowsForms>true</UseWindowsForms>
     <UseWPF>true</UseWPF>
     <OutputType>WinExe</OutputType>
     <AssemblyName>Viking</AssemblyName>
     <RootNamespace>Viking</RootNamespace>
     <StartupObject></StartupObject>
     <ApplicationIcon>Viking.ico</ApplicationIcon>
     <SignAssembly>false</SignAssembly>
     <AssemblyOriginatorKeyFile>Viking_1_TemporaryKey.pfx</AssemblyOriginatorKeyFile>
     <DelaySign>false</DelaySign>
     <GenerateSerializationAssemblies>Off</GenerateSerializationAssemblies>
     <GenerateAppInstallerFile>true</GenerateAppInstallerFile>
     <AppInstallerUrl>http://codepharm.net/viking/Viking.appinstaller</AppInstallerUrl>
     <AppInstallerCheckForUpdates>true</AppInstallerCheckForUpdates>
     <AppInstallerUpdateFrequency>1</AppInstallerUpdateFrequency>
     <AppInstallerShowPrompt>false</AppInstallerShowPrompt>
     <AppInstallerAutomaticBackgroundTask>true</AppInstallerAutomaticBackgroundTask>
     <AppInstallerForceUpdateFromAnyVersion>true</AppInstallerForceUpdateFromAnyVersion>
     <AppInstallerAllowUnsigned>false</AppInstallerAllowUnsigned>
     <AppInstallerDisplayName>Viking</AppInstallerDisplayName>
     <AppInstallerDescription>Viking Application for Connectome Analysis</AppInstallerDescription>
     <AppInstallerIconUri>http://codepharm.net/viking/Viking.ico</AppInstallerIconUri>
     <AppInstallerLogoUri>http://codepharm.net/viking/Viking.ico</AppInstallerLogoUri>
     <AppInstallerPublisher>Marc Lab</AppInstallerPublisher>
     <AppInstallerVersion>1.2.0.0</AppInstallerVersion>
     <AppInstallerUri>http://codepharm.net/viking/Viking.msix</AppInstallerUri>
     <AppInstallerMinVersion>1.0.0.0</AppInstallerMinVersion>
     <AppInstallerMaxVersion>2.0.0.0</AppInstallerMaxVersion>
     <AppInstallerUpdateBlocksActivation>false</AppInstallerUpdateBlocksActivation>
     <AppInstallerRepair>true</AppInstallerRepair>
     <AppInstallerRunFullTrust>true</AppInstallerRunFullTrust>
          <AppInstallerHoursBetweenUpdateChecks>0</AppInstallerHoursBetweenUpdateChecks>
     <ErrorOnDuplicatePublishOutputFiles>false</ErrorOnDuplicatePublishOutputFiles>
     <CopyLocalLockFileAssemblies>true</CopyLocalLockFileAssemblies>
     <PublishDir>C:\src\git\VikingLegacy\Publish\MSIX</PublishDir>
     <Configuration>Release</Configuration>
     <Platform>AnyCPU</Platform>
     <BuildProjectReferences>true</BuildProjectReferences>
     <Clean>true</Clean>
  </PropertyGroup>
</Project>
