<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <PublishUrl>bin\Release\net48\publish\</PublishUrl>
    <Install>true</Install>
    <ApplicationVersion>1.2.0.0</ApplicationVersion>
    <PublisherName>Marc Lab</PublisherName>
    <ProductName>Viking</ProductName>
    <TargetFramework>net48</TargetFramework>
    <EnableCompressionInSingleFile>false</EnableCompressionInSingleFile>
    <DebugType>none</DebugType>
    <DebugSymbols>false</DebugSymbols>
    <GenerateDocumentationFile>false</GenerateDocumentationFile>
    <DocumentationFile>
    </DocumentationFile>
    <NoWarn>;1591</NoWarn>
    <TreatWarningsAsErrors>false</TreatWarningsAsErrors>
    <WarningsAsErrors>
    </WarningsAsErrors>
    <WarningsNotAsErrors>
    </WarningsNotAsErrors>
    <Optimize>true</Optimize>
    <DefineConstants>TRACE</DefineConstants>
    <ErrorReport>none</ErrorReport>
    <WarningLevel>4</WarningLevel>
    <ConsolePause>false</ConsolePause>
    <PlatformTarget>AnyCPU</PlatformTarget>
    <AllowUnsafeBlocks>false</AllowUnsafeBlocks>
    <CheckForOverflowUnderflow>false</CheckForOverflowUnderflow>
    <FileAlignment>512</FileAlignment>
    <Deterministic>false</Deterministic>
    <LangVersion>9.0</LangVersion>
    <Nullable>disable</Nullable>
    <ImplicitUsings>disable</ImplicitUsings>
    <UseWindowsForms>true</UseWindowsForms>
    <UseWPF>true</UseWPF>
    <OutputType>WinExe</OutputType>
    <AssemblyName>Viking</AssemblyName>
    <RootNamespace>Viking</RootNamespace>
    <StartupObject>
    </StartupObject>
    <ApplicationIcon>Viking.ico</ApplicationIcon>
    <SignAssembly>false</SignAssembly>
    <AssemblyOriginatorKeyFile>Viking_1_TemporaryKey.pfx</AssemblyOriginatorKeyFile>
    <DelaySign>false</DelaySign>
    <GenerateSerializationAssemblies>Off</GenerateSerializationAssemblies>
    <SquirrelAwareVersion>1.2.0.0</SquirrelAwareVersion>
    <SquirrelReleasesDir>http://codepharm.net/viking/releases/</SquirrelReleasesDir>
    <SquirrelSetupIcon>Viking.ico</SquirrelSetupIcon>
    <SquirrelLoadingGif>
    </SquirrelLoadingGif>
    <SquirrelSignWithParams>/a /f /p</SquirrelSignWithParams>
    <SquirrelRfc3161TimeStampServer>http://timestamp.digicert.com</SquirrelRfc3161TimeStampServer>
    <SquirrelTimeStampServer>http://timestamp.digicert.com</SquirrelTimeStampServer>
    <SquirrelDeltaPackage>false</SquirrelDeltaPackage>
    <SquirrelPackageAs64Bit>false</SquirrelPackageAs64Bit>
    <SquirrelPackageDirectory>bin\Release\net48\squirrel\</SquirrelPackageDirectory>
    <SquirrelBootstrapperEnabled>true</SquirrelBootstrapperEnabled>
    <SquirrelNoMsi>false</SquirrelNoMsi>
    <SquirrelNoDelta>false</SquirrelNoDelta>
    <SquirrelPackageAs64Bit>false</SquirrelPackageAs64Bit>
    <SquirrelPackageDirectory>bin\Release\net48\squirrel\</SquirrelPackageDirectory>
    <SquirrelBootstrapperEnabled>true</SquirrelBootstrapperEnabled>
    <SquirrelNoMsi>false</SquirrelNoMsi>
    	<SquirrelNoDelta>false</SquirrelNoDelta>
	<PublishDir>C:\src\git\VikingLegacy\Publish\Squirrel</PublishDir>
	<Configuration>Release</Configuration>
	<Platform>AnyCPU</Platform>
	<BuildProjectReferences>true</BuildProjectReferences>
	<Clean>true</Clean>
	<ErrorOnDuplicatePublishOutputFiles>false</ErrorOnDuplicatePublishOutputFiles>
	<CopyLocalLockFileAssemblies>true</CopyLocalLockFileAssemblies>
  </PropertyGroup>
</Project>