@model Viking.Identity.Server.WebManagement.Models.UserViewModels.CreateGroupViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name="~/Views/Shared/_CreateResourceBasicsPartialForm.cshtml" for="@Model" />
            @Html.HiddenFor(x => Model.ResourceTypeId)
            <div class="form-group">
                Add user and group permissions to new group
                <partial name="~/Views/Shared/_MembershipEditTablePartialView.cshtml" for="@Model.Members" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
