@model Viking.Identity.Server.WebManagement.Models.UserViewModels.GroupEditViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>@Model.Group.Name Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Group" />
            <input type="hidden" asp-for="Group.Id" />
            <div class="form-group">
                <label asp-for="Group.Name" class="control-label"></label>
                <input asp-for="Group.Name" class="form-control" />
                <span asp-validation-for="Group.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.Description" class="control-label"></label>
                <input asp-for="Group.Description" class="form-control" />
                <span asp-validation-for="Group.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.Parent" class="control-label"></label>
                <select asp-for="Group.ParentID" asp-items="@ViewBag.AvailableParents">
                    <option value="">None</option>
                </select>
                <span asp-validation-for="Group.ParentID" class="text-danger"></span>
            </div>
            @if (Model.AlreadyMemberOf != null && Model.AlreadyMemberOf.Any())
            {
                <div class="form-group">
                    <dl class="dl-traditional">
                        <dt>
                            <label asp-for="AlreadyMemberOf" class="control-label"></label>
                        </dt>
                        @for (int i = 0; i < Model.AlreadyMemberOf.Count; i++)
                        {
                        <dd>
                            @Model.AlreadyMemberOf[i]
                        </dd>
                        }
                    </dl>
                </div>
            }
            <div class="form-group">
                <partial name="~/Views/Shared/_MembershipEditTablePartialView.cshtml" for="@Model.Members" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
