<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="Annotation.Service.Interfaces.IAnnotateStructureTypes-Binary">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false"/>
            <localServiceSettings detectReplays="false"/>
          </security>
          <binaryMessageEncoding>
            <readerQuotas maxArrayLength="33554432"/>
          </binaryMessageEncoding>
          <httpsTransport maxReceivedMessageSize="83886080"/>
        </binding>
        <binding name="Annotation.Service.Interfaces.IAnnotateStructures-Binary">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false"/>
            <localServiceSettings detectReplays="false"/>
          </security>
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" maxSessionSize="2048">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="33554432" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          </binaryMessageEncoding>
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="83886080" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="83886080" proxyAuthenticationScheme="Anonymous" realm="connectomes.utah.edu" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false"/>
        </binding>
        <binding name="Annotation.Service.Interfaces.IAnnotateLocations-Binary">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false"/>
            <localServiceSettings detectReplays="false"/>
          </security>
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" maxSessionSize="2048">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="33554432" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          </binaryMessageEncoding>
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="83886080" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="83886080" proxyAuthenticationScheme="Anonymous" realm="connectomes.utah.edu" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false"/>
        </binding>
        <binding name="Annotation.Service.Interfaces.ICircuit-Binary">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false"/>
            <localServiceSettings detectReplays="false"/>
          </security>
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" maxSessionSize="2048">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="33554432" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          </binaryMessageEncoding>
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="83886080" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="83886080" proxyAuthenticationScheme="Anonymous" realm="connectomes.utah.edu" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false"/>
        </binding>
        <binding name="Annotation.Service.Interfaces.IAnnotateStructureTypes-Binary1">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false"/>
            <localServiceSettings detectReplays="false"/>
          </security>
          <binaryMessageEncoding/>
          <httpsTransport/>
        </binding>
        <binding name="Annotation.Service.Interfaces.IAnnotateStructures-Binary1">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false"/>
            <localServiceSettings detectReplays="false"/>
          </security>
          <binaryMessageEncoding/>
          <httpsTransport/>
        </binding>
        <binding name="Annotation.Service.Interfaces.IAnnotateLocations-Binary1">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false"/>
            <localServiceSettings detectReplays="false"/>
          </security>
          <binaryMessageEncoding/>
          <httpsTransport/>
        </binding>
        <binding name="Annotation.Service.Interfaces.ICircuit-Binary1">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false"/>
            <localServiceSettings detectReplays="false"/>
          </security>
          <binaryMessageEncoding/>
          <httpsTransport/>
        </binding>
        <binding name="Annotation.Service.Interfaces.IVolumeMeta-Binary">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false"/>
            <localServiceSettings detectReplays="false"/>
          </security>
          <binaryMessageEncoding/>
          <httpsTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://connectomes.utah.edu/Services/RabbitBinary/Annotate.svc" behaviorConfiguration="StandardBehavior" binding="customBinding" bindingConfiguration="Annotation.Service.Interfaces.IAnnotateStructureTypes-Binary" contract="AnnotationService.IAnnotateStructureTypes" name="Annotation.Service.Interfaces.IAnnotateStructureTypes-Binary"/>
      <endpoint address="https://connectomes.utah.edu/Services/RabbitBinary/Annotate.svc" behaviorConfiguration="StandardBehavior" binding="customBinding" bindingConfiguration="Annotation.Service.Interfaces.IAnnotateStructures-Binary" contract="AnnotationService.IAnnotateStructures" name="Annotation.Service.Interfaces.IAnnotateStructures-Binary"/>
      <endpoint address="https://connectomes.utah.edu/Services/RabbitBinary/Annotate.svc" behaviorConfiguration="StandardBehavior" binding="customBinding" bindingConfiguration="Annotation.Service.Interfaces.IAnnotateLocations-Binary" contract="AnnotationService.IAnnotateLocations" name="Annotation.Service.Interfaces.IAnnotateLocations-Binary"/>
      <endpoint address="https://connectomes.utah.edu/Services/RabbitBinary/Annotate.svc" behaviorConfiguration="StandardBehavior" binding="customBinding" bindingConfiguration="Annotation.Service.Interfaces.ICircuit-Binary" contract="AnnotationService.ICircuit" name="Annotation.Service.Interfaces.ICircuit-Binary"/>
      <endpoint address="https://webdev.connectomes.utah.edu/RC1Test/Annotation/service.svc" binding="customBinding" bindingConfiguration="Annotation.Service.Interfaces.IAnnotateStructureTypes-Binary1" contract="AnnotationService.IAnnotateStructureTypes" name="Annotation.Service.Interfaces.IAnnotateStructureTypes-Binary1"/>
      <endpoint address="https://webdev.connectomes.utah.edu/RC1Test/Annotation/service.svc" binding="customBinding" bindingConfiguration="Annotation.Service.Interfaces.IAnnotateStructures-Binary1" contract="AnnotationService.IAnnotateStructures" name="Annotation.Service.Interfaces.IAnnotateStructures-Binary1"/>
      <endpoint address="https://webdev.connectomes.utah.edu/RC1Test/Annotation/service.svc" binding="customBinding" bindingConfiguration="Annotation.Service.Interfaces.IAnnotateLocations-Binary1" contract="AnnotationService.IAnnotateLocations" name="Annotation.Service.Interfaces.IAnnotateLocations-Binary1"/>
      <endpoint address="https://webdev.connectomes.utah.edu/RC1Test/Annotation/service.svc" binding="customBinding" bindingConfiguration="Annotation.Service.Interfaces.IVolumeMeta-Binary" contract="AnnotationService.IVolumeMeta" name="Annotation.Service.Interfaces.IVolumeMeta-Binary"/>
      <endpoint address="https://webdev.connectomes.utah.edu/RC1Test/Annotation/service.svc" binding="customBinding" bindingConfiguration="Annotation.Service.Interfaces.ICircuit-Binary1" contract="AnnotationService.ICircuit" name="Annotation.Service.Interfaces.ICircuit-Binary1"/>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="StandardBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
