<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager">
      <section name="Viking.UI.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager" allowExeDefinition="MachineToLocalUser" allowLocation="true" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Viking.UI.WPF.Properties.Settings>
      <setting name="IdentityServerURL" serializeAs="String">
        <value>https://identity.codepharm.net:5001/</value>
      </setting>
      <setting name="LastUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="RememberCredentials" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EncryptedPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="AnonymousPassword" serializeAs="String">
        <value>connectome</value>
      </setting>
    </Viking.UI.WPF.Properties.Settings>
  </userSettings>
  <system.diagnostics>
    <sources>
      <source name="System.Windows.Data" switchName="SourceSwitch">
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="SourceSwitch" value="All" />
    </switches>
    <sharedListeners>
      <add name="textListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="DebugTrace.txt" />
    </sharedListeners>
    <trace autoflush="true" indentsize="4"></trace>
  </system.diagnostics>
</configuration>
