<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Viking.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <Viking.Properties.Settings>
      <setting name="LastTileExportDirectory" serializeAs="String">
        <value>%UserProfile%</value>
      </setting>
      <setting name="LastExportRangeStart" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LastExportRangeEnd" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ExportAllChecked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastTileExportDownsampleLevel" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LastFrameCaptureExportDirectory" serializeAs="String">
        <value>%UserProfile%</value>
      </setting>
      <setting name="FrameCaptureDefaultPrefix" serializeAs="String">
        <value />
      </setting>
      <setting name="ExportFramesIncludeOverlays" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExportFramesFirstFrameNumber" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LastGotoX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastGotoY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastGotoZ" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LastDownsample" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="LastScreenshotPath" serializeAs="String">
        <value />
      </setting>
      <setting name="LastScreenshotIncludeOverlays" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastScreenshotUseViewersDownsampleLevel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CachedUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerURLs" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>http://storage1.connectomes.utah.edu/</string>
            <string>http://internal.connectomes.utah.edu/</string>
            <string>http://openconnecto.me/ocp/ca/</string>
            <string>http://v0152.host.s.uw.edu/</string>
            <string>http://connectomes.utah.edu/</string>
            <string>http://storage2.connectomes.utah.edu/</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ShowCommandHelp" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VolumeURLs" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>http://connectomes.utah.edu/Rabbit</string>
            <string>http://internal.connectomes.utah.edu/RC2/SliceToVolume.VikingXML</string>
            <string>http://storage1.connectomes.utah.edu/RPC1/SliceToVolume.VikingXML</string>
            <string>http://storage1.connectomes.utah.edu/RPC1/Testing.VikingXML</string>
            <string>http://storage2.connectomes.utah.edu/RPC2/SliceToVolume.VikingXML</string>
            <string>http://storage2.connectomes.utah.edu/RC3/SliceToVolume.VikingXML</string>
          </ArrayOfString>
        </value>
      </setting>
    </Viking.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly> 
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.5.0" newVersion="1.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
