
/****** Object:  StoredProcedure [dbo].[SelectSectionLocationsAndLinksInMosaicBounds]    Script Date: 8/22/2025 8:08:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

				ALTER PROCEDURE [dbo].[SelectSectionLocationsAndLinksInMosaicBounds]
					-- Add the parameters for the stored procedure here
					@Z float,
					@BBox geometry,
					@Radius float,
					@QueryDate datetime
				AS
				BEGIN
					-- SET NOCOUNT ON added to prevent extra result sets from
					-- interfering with SELECT statements.
					SET NOCOUNT ON;

					DECLARE @LocationIDsInBounds mem_integer_list

					-- Get bounding box envelope
					DECLARE @BBoxEnvelope geometry = @BBox.STEnvelope();

					--Selecting all columns once into LocationsInBounds and then selecting the temp table is a huge time saver.  3-4 seconds instead of 20.

					INSERT INTO @LocationIDsInBounds (ID)
					SELECT ID
					FROM Location 
					WHERE Z = @Z 
					AND Radius >= @Radius
					-- Use envelope filtering for better spatial index utilization
					AND MosaicShape.STEnvelope().STX >= @BBoxEnvelope.STX
					AND MosaicShape.STEnvelope().STY >= @BBoxEnvelope.STY
					AND MosaicShape.STEnvelope().STX <= @BBoxEnvelope.STX + @BBoxEnvelope.STLength() / 2
					AND MosaicShape.STEnvelope().STY <= @BBoxEnvelope.STY + @BBoxEnvelope.STLength() / 2
					-- Then apply precise spatial intersection
					AND MosaicShape.STIntersects(@BBox) = 1
					ORDER BY ID;
	 
					 -- Return locations with conditional filtering
					IF @QueryDate IS NOT NULL
						SELECT L.*
						FROM Location L
						INNER JOIN @LocationIDsInBounds IDs ON L.ID = IDs.ID
						WHERE L.LastModified >= @QueryDate
						ORDER BY L.ID;
					ELSE
						SELECT L.*
						FROM Location L
						INNER JOIN @LocationIDsInBounds IDs ON L.ID = IDs.ID
						ORDER BY L.ID;
	 
					-- Optimized LocationLink queries using EXISTS instead of IN
					IF @QueryDate IS NOT NULL
						SELECT LL.*
						FROM LocationLink LL
						WHERE EXISTS (SELECT 1 FROM @LocationIDsInBounds IDs WHERE IDs.ID = LL.A)
						OR EXISTS (SELECT 1 FROM @LocationIDsInBounds IDs WHERE IDs.ID = LL.B)
						AND LL.Created >= @QueryDate;
					ELSE
						SELECT LL.*
						FROM LocationLink LL
						WHERE EXISTS (SELECT 1 FROM @LocationIDsInBounds IDs WHERE IDs.ID = LL.A)
						OR EXISTS (SELECT 1 FROM @LocationIDsInBounds IDs WHERE IDs.ID = LL.B);
								END 
			


/****** Object:  StoredProcedure [dbo].[SelectSectionLocationsAndLinksInMosaicBounds]    Script Date: 8/22/2025 8:08:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

				ALTER PROCEDURE [dbo].[SelectSectionLocationsAndLinksInVolumeBounds]
					-- Add the parameters for the stored procedure here
					@Z float,
					@BBox geometry,
					@Radius float,
					@QueryDate datetime
				AS
				BEGIN
					-- SET NOCOUNT ON added to prevent extra result sets from
					-- interfering with SELECT statements.
					SET NOCOUNT ON;

					DECLARE @LocationIDsInBounds mem_integer_list

					-- Get bounding box envelope
					DECLARE @BBoxEnvelope geometry = @BBox.STEnvelope();

					--Selecting all columns once into LocationsInBounds and then selecting the temp table is a huge time saver.  3-4 seconds instead of 20.

					INSERT INTO @LocationIDsInBounds (ID)
					SELECT ID
					FROM Location 
					WHERE Z = @Z 
					AND Radius >= @Radius
					-- Use envelope filtering for better spatial index utilization
					AND VolumeShape.STEnvelope().STX >= @BBoxEnvelope.STX
					AND VolumeShape.STEnvelope().STY >= @BBoxEnvelope.STY
					AND VolumeShape.STEnvelope().STX <= @BBoxEnvelope.STX + @BBoxEnvelope.STLength() / 2
					AND VolumeShape.STEnvelope().STY <= @BBoxEnvelope.STY + @BBoxEnvelope.STLength() / 2
					-- Then apply precise spatial intersection
					AND VolumeShape.STIntersects(@BBox) = 1
					ORDER BY ID;
	 
					 -- Return locations with conditional filtering
					IF @QueryDate IS NOT NULL
						SELECT L.*
						FROM Location L
						INNER JOIN @LocationIDsInBounds IDs ON L.ID = IDs.ID
						WHERE L.LastModified >= @QueryDate
						ORDER BY L.ID;
					ELSE
						SELECT L.*
						FROM Location L
						INNER JOIN @LocationIDsInBounds IDs ON L.ID = IDs.ID
						ORDER BY L.ID;
	 
					-- Optimized LocationLink queries using EXISTS instead of IN
					IF @QueryDate IS NOT NULL
						SELECT LL.*
						FROM LocationLink LL
						WHERE EXISTS (SELECT 1 FROM @LocationIDsInBounds IDs WHERE IDs.ID = LL.A)
						OR EXISTS (SELECT 1 FROM @LocationIDsInBounds IDs WHERE IDs.ID = LL.B)
						AND LL.Created >= @QueryDate;
					ELSE
						SELECT LL.*
						FROM LocationLink LL
						WHERE EXISTS (SELECT 1 FROM @LocationIDsInBounds IDs WHERE IDs.ID = LL.A)
						OR EXISTS (SELECT 1 FROM @LocationIDsInBounds IDs WHERE IDs.ID = LL.B);
								END 
			