<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AnnotationDatabase.Properties.Settings.RabbitConnectionString"
            connectionString="Data Source=MARCLABRETINADA\SQLEXPRESS;Initial Catalog=Rabbit;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AnnotationDatabase.Properties.Settings.RabbitConnectionString1"
            connectionString="Data Source=OpR-Marc-RC1\SQLEXPRESS;Initial Catalog=Rabbit;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
