<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AnnotationDatabase.Properties.Settings.RabbitConnectionString"
            connectionString="Data Source=OpR-Marc-DB1;1433\MSSQLSERVER;Initial Catalog=Rabbit;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AnnotationDatabase.Properties.Settings.RabbitConnectionString2"
            connectionString="Data Source=OpR-Marc-DB1;Initial Catalog=Rabbit;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
