@using Viking.Identity.Server.WebManagement.Views.Manage
@model Viking.Identity.Server.WebManagement.Models.UserViewModels.UserClaimRequestViewModel

@{
    ViewData["Title"] = "Request Claims";
    ViewData.AddActivePage(ManageNavPages.RequestClaims);
}
 
<p> Please select the organizations you'd like to contact for access rights.  The request will be sent to the organization administrators for review.  Many volumes can be viewed without specific rights.</p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="RequestClaims">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="UserId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
            <div class="form-group">
                <h4> Organizations </h4>
                <dl>
                    <dt>
                        @Html.DisplayNameFor(x => Model.AvailableOrganizations)
                    </dt>
                    <dd>
                        <partial name="~/Views/Shared/_NamedChecklist_LongKey.cshtml" for="@Model.AvailableOrganizations" />
                    </dd>
                    <dt>
                        <p>I want my own Organization:</p>
                    </dt>
                    <dd>
                        <textarea asp-for="NewOrganization" rows="1" cols="120" class="form-control" text-wrap:normal type="text" placeholder="Proposed Organization Name"></textarea>
                    </dd>
                    <dt>@Html.DisplayNameFor(x => Model.UserComments)</dt>
                    <dd>
                        <textarea asp-for="UserComments" rows="10" cols="120" class="form-control" text-wrap:normal type="text" placeholder="Text in this box will be included in your request to admins.  Please feel free to include specific access requests or an introduction."></textarea>
                    </dd>
                </dl>
            </div>

            <input type="submit" value="Request Claims" class="btn btn-default" />
        </form>
    </div>
</div>
