<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="protobuf" type="ProtoBuf.ServiceModel.ProtoBehaviorExtension, protobuf-net, Version=2.0.0.668, Culture=neutral, PublicKeyToken=257b51d87d2e4d67"/>
        <add name="tokenInjection" type="Viking.Tokens.TokenInjectionBehaviorExtension, WCFTokenInjector" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <customBinding>
        <binding name="Annotation.Service.Interfaces.IAnnotateStructureTypes-Binary">
          <binaryMessageEncoding />
          <httpsTransport />
        </binding>
        <binding name="Annotation.Service.Interfaces.IAnnotateStructures-Binary">
          <binaryMessageEncoding />
          <httpsTransport />
        </binding>
        <binding name="Annotation.Service.Interfaces.IAnnotateLocations-Binary">
          <binaryMessageEncoding />
          <httpsTransport />
        </binding>
        <binding name="Annotation.Service.Interfaces.IAnnotatePermittedStructureLinks-Binary">
          <binaryMessageEncoding />
          <httpsTransport />
        </binding>
        <binding name="Annotation.Service.Interfaces.IVolumeMeta-Binary">
          <binaryMessageEncoding />
          <httpsTransport />
        </binding>
        <binding name="Annotation.Service.Interfaces.ICircuit-Binary">
          <binaryMessageEncoding />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="protoEndpointBehavior">
          <tokenInjection />
          <protobuf/>
        </behavior>
        <behavior name="StandardBehavior">
          <tokenInjection />
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="https://webdev.connectomes.utah.edu/RC1Test/Annotation/service.svc"
        binding="customBinding" bindingConfiguration="Annotation.Service.Interfaces.IAnnotateStructureTypes-Binary"
        contract="Service.IAnnotateStructureTypes" name="Annotation.Service.Interfaces.IAnnotateStructureTypes-Binary"
                 behaviorConfiguration="protoEndpointBehavior"/>
      <endpoint address="https://webdev.connectomes.utah.edu/RC1Test/Annotation/service.svc"
        binding="customBinding" bindingConfiguration="Annotation.Service.Interfaces.IAnnotateStructures-Binary"
        contract="Service.IAnnotateStructures" name="Annotation.Service.Interfaces.IAnnotateStructures-Binary" 
                 behaviorConfiguration="protoEndpointBehavior"/>
      <endpoint address="https://webdev.connectomes.utah.edu/RC1Test/Annotation/service.svc"
        binding="customBinding" bindingConfiguration="Annotation.Service.Interfaces.IAnnotateLocations-Binary"
        contract="Service.IAnnotateLocations" name="Annotation.Service.Interfaces.IAnnotateLocations-Binary"
                 behaviorConfiguration="protoEndpointBehavior"/>
      <endpoint address="https://webdev.connectomes.utah.edu/RC1Test/Annotation/service.svc"
        binding="customBinding" bindingConfiguration="Annotation.Service.Interfaces.IAnnotatePermittedStructureLinks-Binary"
        contract="Service.IAnnotatePermittedStructureLinks" name="Annotation.Service.Interfaces.IAnnotatePermittedStructureLinks-Binary" 
                 behaviorConfiguration="protoEndpointBehavior"/>
      <endpoint address="https://webdev.connectomes.utah.edu/RC1Test/Annotation/service.svc"
        binding="customBinding" bindingConfiguration="Annotation.Service.Interfaces.IVolumeMeta-Binary"
        contract="Service.IVolumeMeta" name="Annotation.Service.Interfaces.IVolumeMeta-Binary" 
                 behaviorConfiguration="protoEndpointBehavior"/>
      <endpoint address="https://webdev.connectomes.utah.edu/RC1Test/Annotation/service.svc"
        binding="customBinding" bindingConfiguration="Annotation.Service.Interfaces.ICircuit-Binary"
        contract="Service.ICircuit" name="Annotation.Service.Interfaces.ICircuit-Binary" 
                 behaviorConfiguration="protoEndpointBehavior"/>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
